# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/
jiotv_go

# Main binary
jiotv_go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Environment variables file
.env

# Go workspace file
go.work

# Credential file
credentials.json
jiotv_credentials.json
jiotv_credentials_v2.json
.jiotv_go

# Playlist .m3u file
*.m3u

# Node
node_modules/
web/node_modules/
web/coverage/

# Logs
jiotv_go.log
jiotv_go*.log

# EPG
epg.xml.gz

# config
config.json
config.yml
config.toml
jiotv.yml
jiotv.toml
jiotv.json

# MdBook Docs
docs/book/
book/