{{define "channel_list"}}
<div class="overflow-x-auto">
  <div id="portexe-search-root"
    class="w-full p-2 grid grid-cols-1 gap-2 sm:grid-cols-5 items-center justify-between bg-base-100">
    <input id="portexe-search-input" type="text" placeholder="Search channels here"
      class="input input-primary input-md w-full rounded-xl col-span-3 sm:col-span-1 focus:outline-none active:outline-none" />
    <select id="portexe-quality-select"
      class="select select-primary select-sm sm:select-md w-full max-w-auto sm:max-w-xs sm:w-auto rounded-xl focus:outline-none active:outline-none"
      onchange="onQualityChange(this)">
      {{ range $key, $value := .Qualities }}
      <option value="{{$key}}">{{$value}}</option>
      {{ end }}
    </select>
    <select id="portexe-category-select"
      class="select select-primary select-sm sm:select-md w-full max-w-auto sm:max-w-xs sm:w-auto rounded-xl focus:outline-none active:outline-none">
      {{ range $key, $value := .Categories }}
      <option value="{{$key}}">{{$value}}</option>
      {{ end }}
    </select>
    <select id="portexe-language-select"
      class="select select-primary select-sm sm:select-md w-full max-w-auto sm:max-w-xs sm:w-auto rounded-xl focus:outline-none active:outline-none">
      {{ range $key, $value := .Languages }}
      <option value="{{$key}}">{{$value}}</option>
      {{ end }}
    </select>
    <button id="portexe-search-button"
      class="btn btn-primary btn-sm sm:btn-md w-full sm:w-auto rounded-xl col-span-3 sm:col-span-1">
      Apply
    </button>
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 p-4">
    {{range $channel := .Channels}}
    <a href="/play/{{$channel.ID}}"
      class="shadow-lg hover:shadow-lg transition-all duration-200 ease-in-out scale-100 hover:scale-110 focus:outline-none active:outline-none">
      <div class="flex flex-col items-center p-2 sm:p-4">
        <img src="/jtvimage/{{$channel.LogoURL}}" loading="lazy" alt="{{$channel.Name}}"
          class="p-4 object-cover" />
        <span class="text-md text-sm md:text-base font-600 mt-4 overflow-hidden truncate">{{$channel.Name}}</span>
      </div>
    </a>
    {{end}}
  </div>
  <button
    class="btn btn-primary fixed bottom-4 right-4 px-4 rounded-full shadow-lg focus:outline-none active:outline-none flex flex-row gap-2"
    onclick="scrollToTop()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>
    <span class="hidden sm:block">Search</span>
  </button>
  <script src="/static/channels.js"></script>
</div>
{{end}}