<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F1</title>
    <!-- <meta name="referrer" content="no-referrer" /> -->
    <script src="https://cdn.jsdelivr.net/gh/clappr/clappr@latest/dist/clappr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/clappr/dash-shaka-playback@latest/dist/dash-shaka-playback.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/clappr-pip-plugin@latest/dist/clappr-pip-plugin.js"
    ></script>
    <script type="text/javascript">
      const initPlayer = (source, options) => {
        var player = new Clappr.Player({
          source: source,
          autoplay: true,
          width: "100%",
          height: "540",
          plugins: [DashShakaPlayback, LevelSelector, ClapprPIPPlugin],
          shakaConfiguration: {
            streaming: {
              rebufferingGoal: 15,
            },
          },
          shakaOnBeforeLoad: function (player) {
              player.configure(options);
              // player
              // .getNetworkingEngine()
              // .registerRequestFilter(function (type, request, context) {
              //     request.headers["Content-Type"] = "application/octet-stream";
              //   });
          },
          events: {
            onReady: function () {
              if (Clappr.Browser.isMobile) {
                var plugin = this.getPlugin("click_to_pause");
                plugin && plugin.disable();
              }
            },
          },
          parentId: "#player",
        });
        player.on(Clappr.Events.PLAYER_FULLSCREEN, function (isFullscreen) {
          // rotate to landscape on mobile devices when in fullscreen
          if (isFullscreen) {
            if (screen.orientation) {
              screen.orientation.lock("landscape");
            } else if (screen.mozLockOrientation) {
              screen.mozLockOrientation("landscape");
            } else if (screen.msLockOrientation) {
              screen.msLockOrientation("landscape");
            } else if (screen.lockOrientation) {
              screen.lockOrientation("landscape");
            }
          } else {
            if (screen.orientation) {
              screen.orientation.unlock();
            } else if (screen.mozUnlockOrientation) {
              screen.mozUnlockOrientation();
            } else if (screen.msUnlockOrientation) {
              screen.msUnlockOrientation();
            } else if (screen.unlockOrientation) {
              screen.unlockOrientation();
            }
          }
        });
      };
    </script>
  </head>
  <body>
    <div id="player"></div>
    <script>
      initPlayer(
        "{{ .play_url }}",
        {
          drm: {
          servers: {
            "com.widevine.alpha": "{{ .license_url }}",
          },
        },
        }
      );
    </script>
  </body>
</html>