<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    {{ template "styling" . }}
  </head>

  <body>
    {{ template "navbar" . }}
    <div class="container mx-auto">{{ template "channel_list" . }}</div>
    {{ template "login_dialog" . }}
    <script src="/static/index.js"></script>
    <script src="/static/common.js"></script>
    {{ template "footer" . }}
  </body>
</html>
