<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JioTV Go</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: black;
            overflow-y: hidden;
        }
    </style>
    <link rel="stylesheet" href="/static/flowplayer.css">
    <script src="/static/flowplayer.min.js"></script>
    <script src="/static/hls.min.js"></script>
    <script src="/static/qsel.min.js"></script>
    <script src="/static/keyboard.min.js"></script>
</head>

<body>
    <div id="jiotv_go_player"></div>
    <script>
        var player = flowplayer('#jiotv_go_player',
            {
                src: '{{ .play_url }}',
                live: true,
                seekable: false,
                autplay: true,
                qsel: {},
                ui: flowplayer.ui.USE_THIN_CONTROLBAR,
            });
    </script>
</body>

</html>