<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JioTV Go</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
          <a class="btn btn-ghost  text-xl">JioTV Go</a>
        </div>
        <div class="navbar-end">
          <a href="/login" class="btn btn-outline btn-success">Login</a>
        </div>
    </div>
    <!-- Create a grid with dummy icon and use title and url from /channels -->
    <div class="container mx-auto">
        <div class="overflow-x-auto">
            <div id="portexe-search-root" class="form-control w-full max-w-xs">
                <input id="portexe-search-input" type="text" placeholder="Search channels here" class="input input-bordered input-accent w-full max-w-xs" />
            </div>
            <table id="portexe-data-table" class="table table-zebra">
                <thead>
                  <tr>
                    <th>Channel</th>
                    <th>Play</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>

    </div>
    <script src="/static/table.js"></script>
</body>
</html>