{{ define "login_dialog" }}
<dialog id="login_modal" class="modal modal-bottom sm:modal-middle">
    <form method="dialog" class="modal-box">
        <h3 class="font-bold text-lg">Login</h3>
        <div class="flex flex-col gap-2">
            <label for="username" class="label">Username / Mobile Number</label>
            <input id="username" required type="text" placeholder="9876543210"
                class="input input-bordered input-primary w-full" />
            <label for="password" class="label">Password</label>
            <input id="password" required type="password" placeholder="********"
                class="input input-bordered input-primary w-full" />
            <a href="https://www.jio.com/selfcare/signup/forgot-password" target="_blank"
                class="text-sm link link-error text-end">Forgot Password?</a>
            <button onclick="loginClick()" class="btn btn-primary">Login</button>
        </div>
    </form>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
<script>
    // wait until the page is loaded
    window.addEventListener('load', () => {
      {{ if .IsNotLoggedIn }}
      login_modal.showModal();
      {{ else }}
      console.log("You have already logged in");
      {{ end }}
    });
</script>
{{ end }}
